@model List<Job>
@using SearchJob.Models
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Поиск вакансий</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        
        <h1 class="mb-4">Поиск вакансий</h1>

        
        <form method="get" asp-controller="Job" asp-action="Search">
        <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Введите название вакансии" name="searchString" value="@ViewData["CurrentFilter"]" />
                <button class="btn btn-primary" type="submit">Поиск</button>
        </div>

        <div class="mb-3">
            <a href="/Favorites" class="btn btn-secondary">Избранное</a>


            <a href="/api/account/profile" class="btn btn-secondary">Профиль</a>
        </div>
      
        <h2>Найдено @Model.Count() вакансий</h2> 
        
       
        <div class="row">
            @foreach (var job in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100 d-flex flex-column">
                        <div class="card-body flex-grow-1">
                            <h5 class="card-title">@job.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@job.CompanyName</h6>
                            <p class="card-text">@job.Description</p>
                        </div>
                        <div class="mt-auto">
                            <p class="card-text">
                                <small class="text-muted">Зарплата: от @job.SalaryFrom</small>
                            </p>
                            <a href="AddToFavorites?jobId=@job.Id" class="btn btn-secondary">Добавить в избранное</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    </div>

</body>
</html>